#backdrop {
    background-image: url("./../img/joseki.jpg_large");

}

.body {
    background-color: lightblue;
    background-image: url("./../img/joseki.jpg_large");
        /* url('https://www.bing.com/th?id=OHR.BrightonJetty_ZH-CN1526526038_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp'); */

    /*background-image: url("file:///Users/davidoliver/Sites/W3_ticTacToe/img/joseki.jpg_large");*/
}

.col-2 {
    font-size: 4em;
}